
<div class="col-md-12" style="left: 50px; padding-right: 160px;" ng-init="getShuffledCards()">
		<table class="table table-condensed table-striped" style="">
		<!-- <tr align="center"><td><button ng-if="playerACard.length > 0 || playerBCard.length > 0" class="btn btn-sm btn-primary" ng-click="getCard()">Push Card</button></td>
		<td><button ng-if="playerACard.length <= 0 || playerBCard.length <= 0" class="btn btn-sm btn-primary" ng-click="getShuffledCards()">Push Card</button>
		</td></tr>
		<hr> 
		</br></br></br></br>-->
		</br></br>
			<tr align="center">
			<td><button ng-if="playerACard.length > 0 || playerBCard.length > 0" class="btn btn-sm btn-primary" ng-click="getCard()">Push Card</button></td>
		<td><button ng-if="playerACard.length <= 0 || playerBCard.length <= 0" class="btn btn-sm btn-primary" ng-click="getShuffledCards()">Push Card</button>
		</td></tr>
		</br></br></br></br>
		<tr align="center">
				<td class="col-md-2" id="playerA"> <div ng-repeat="playerA in playerA3cards" ng-if="playerA != 0 && playerA3cards.length > 0 && playerA3cards.length <= 3">{{playerA}}<img src='/images/{{playerA}}'/></div></td>
				
				<td class="col-md-2" id="playerB"> <div ng-repeat="playerB in playerB3cards" ng-if="playerB != 0 && playerA3cards.length > 0 && playerB3cards.length <= 3" >{{playerB}}<img src='/images/{{playerB}}'/></div></td>
			
			</tr>
				
				
			</tbody>
		</table>
	</div>

	
<!-- 	<div class="col-md-12" style="left: 50px; padding-right: 160px;" >
		<table class="table table-condensed table-striped" style="">
		<tr align="center"><td><button class="btn btn-sm btn-primary" ng-click="getShuffledCards()">Push Card</button>
		</td></tr>
		<hr>
		</br></br></br></br>
			<tr>
				<td id="playerA"> <div ng-repeat="item in playerACard"><img src='/images/{{item}}'/></div></td>
				
				<td id="playerB"> <div ng-repeat="item1 in playerBCard"><img src='/images/{{item1}}'/></div></td>
			
			</tr>
				
				
			</tbody>
		</table>
	</div> -->